@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500&display=swap");

html {
  font-family: var(--font-jakarta);
}
body {
  color: #fff;
  background: radial-gradient(
    81.59% 81.59% at 50% 50%,
    #224a96 0%,
    #002366 100%
  );
  font-family: var(--font-jakarta);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.ibm {
  font-family: "IBM Plex Mono", monospace;
}
link {
  text-decoration: underline;
}
